main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    background-color: rgb(165, 232, 232);
    border-radius: 15px;
    column-gap: 25px; 
}
@media (max-width: 767px)  {
    main{
    grid-template-columns: 1fr ;
    }
    div{
        height: 600px;
    }
}