div{    
    background-color: rgb(231, 237, 244);
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
}
div img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 15px;
}
div button{
    background-color:rgb(234, 246, 242);
    border-radius: 10px;
    width: 60px;
    height: 40px;
}
