body{
    background-color: rgb(204, 205, 207);
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    border-radius: 15px;
    column-gap: 2px; 
    margin-left: 7%;
}


@media (max-width: 767px)  {
    main{
        grid-template-columns: 1fr ;
        margin: 0;
    }
    div{
        height: 600px;
    }
}