header{
    display: flex;
    justify-content:space-around;
    background-color: rgb(231, 237, 244);
    border-radius: 15px;
}
@media (max-width: 767px)  {
    header{
        height: 90px;
        width: 400px;
        margin-left: 30%;
    }
}