.navbar{
    padding: 3%;
    display: flex;
    justify-content: center;
    

}
.navbar button{
    border-radius: 10%;
    background-color: rgb(41, 41, 139);
    color: white;
}
@media (max-width: 767px)  {
    .navbar button{
        width: 60px;
        height: 40px;
        margin-top: 10px;
    }

}